.background {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  overflow: hidden; /* Permite que os círculos sejam visíveis */
  z-index: 1; /* Conteúdo principal acima dos círculos */
}

.containerL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  position: relative;
  z-index: -1; /* Conteúdo acima dos círculos */
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 30%;
  background-color: #ffffff;
}

.inptLabel {
  color: black;
  padding-left: 5%;
  
}

.inpt {
    width: 100%;
    height: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000; /* Cor da borda */
    border-radius: 30px; /* Cantos arredondados */
    outline: none; /* Remove a outline padrão */
    background-color: aliceblue;
    margin-top: 0%;
    color: #000;
  }
  
  .inpt:focus {
    border-color: #4F999B; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(79, 153, 155, 0.5); /* Sombra ao focar */
  }
  
  .inptGroup{
    width: 100%;
    height: 25%;
  }

  .buttonLogin {
    background-color: #83FFBA; /* Cor do botão */
    color: #000; /* Cor do texto */
    border: none; /* Remove borda padrão */
    border-radius: 30px; /* Cantos arredondados */
    padding: 10px; /* Espaçamento interno */
    cursor: pointer; /* Cursor pointer ao passar o mouse */
    width: 50%; /* Largura total */
  }
  
  .customLogin:hover {
    background-color: #4F999B; /* Cor ao passar o mouse */
  }

  .circle {
    position: absolute;
    border-radius: 50%;
    z-index: 0; /* Círculos no fundo */
  }

  /* Círculo superior direito (sobreposto) */
  .circle-2-top {
    width: 250px;
    height: 250px;
    background: #83FFBA;
    top: -130px; /* Levanta o círculo */
    right: -110px; /* Move para o lado direito */
    z-index: 1; /* Fica por cima de outros círculos */
  }
  
  /* Círculo superior direito menor */
  .circle-1-top-small {
    width: 150px;
    height: 150px;
    background: #4F999B;
    top: 30px; /* Um pouco mais abaixo */
    right: -75px; /* Mais centralizado em relação ao outro */
    z-index: 2; /* Fica acima do círculo maior */
  }
  
  /* Círculo inferior esquerdo */
  .circle-3-bottom {
    width: 500px;
    height: 500px;
    background: #4F999B;
    bottom: -275px;
    left: px;
    z-index: 1; /* Mantém no fundo */
  }
  
  .circle-4-bottom-small{
    width: 150px;
    height: 150px;
    background-color: #83FFBA;
    bottom: 100px;
    left: 325px;
    z-index: 0;
  }
  .circle-5-bottom-medium {
    width: 170px;
    height: 170px;
    background: #6ad8b3;
    bottom: -27px;
    left: -30px;
    z-index: 2; /* Mantém no fundo */
  }

  .logo-icon{
    padding-bottom: 40px;
  }
  h2{
    color:#000
  }
  
  p{
    color: rgb(7, 133, 236);
  }