.volunteer-card {
    margin: 8px 16px;
    padding: 16px;
    background-color: #f8f8f8;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.volunteer-image {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #ddd;
    margin-right: 16px;
}

.volunteer-info {
    flex: 1;
}

.volunteer-name {
    font-weight: 600;
    color: #333;
    font-size: 16px;
    margin-bottom: 4px;
}

.volunteer-location {
    font-size: 14px;
    color: #666;
}

.volunteer-age {
    color: #666;
    font-size: 14px;
    margin: 0 16px;
}

.action-buttons {
    display: flex;
    gap: 8px;
}

.action-button-accept {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    background-color: #90EE90;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button-reject {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    background-color: #FFB6C1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoCheck{
    mix-blend-mode: multiply;
    height: 70%;
    width: 70%;
}